
.pathway-gothic one-regular {
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.movies-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #6B2C2C;
  padding: 20px;
  gap: 20px; /* Gir litt mellomrom mellom hver film */
}

.movie {
  flex: 1;
  min-width: 200px; /* Minimumsbredde for hver filmvisning */
  background-color: #fff; /* Legger til en bakgrunnsfarge for å skille boksene */
  padding: 10px; /* Litt padding rundt innholdet */
  border-radius: 5px; /* Runde hjørner for estetikk */
}

.movies-overview-container {
  background-color: #6B2C2C; /* Hele komponentens bakgrunnsfarge */
  padding: 20px; /* Juster etter behov for å unngå hvitt mellomrom */
}  


.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Sørger for at elementene fordeles jevnt */
  background-color: #6B2C2C;
  padding: 20px;
}

search-container h1 {
  margin-right: 30px; /* Justerer mellomrommet til høyre for tittelen */
}

.search-container input[type="text"] {
  margin-right: 40px; /* Justerer mellomrommet til høyre for søkefeltet */
}

.movie img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
   /* Runde hjørner på bildet */
}

/* Tilpasser teksten og bildene inne i hver film-boks */
.movie h2, .movie p {
  margin: 5px 0; 
  /* Litt mellomrom mellom tekstene */
}

.search-and-filter {
  display: flex;
  gap: 10px; /* Gir litt mellomrom mellom søkefeltet og filterknappen */
}


.search-container h1 {
  font-size: 50px; /* Eller hvilken som helst annen størrelse */
  color: rgb(250, 249, 249); /* Eller hvilken som helst annen farge */

}


