* {
    box-sizing: border-box;


    --accent-color: #501919;
}

body { 
    margin: 0;
}

nav {
    background-color: var(--accent-color);
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

.menu-items {
    min-width: 300px;
    display: flex;
    align-items: center;

    padding-left: 10px;
    justify-content: space-between;
}

.menu-items div:hover {
    background-color: #3E1414;
}

.menu-items-right div:hover {
    background-color: #3E1414;
}

.menu-items-right div {
    min-height: 70px;
    min-width: 100px;
    justify-content: center;
}

.menu-items div {
    min-height: 70px;
    min-width: 100px;
    justify-content: center;
}

.nav-link {
    align-items: center;
    display: flex;
    margin: auto;
    color: white;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

.profile-btn {
    display: flex;
    align-items: center;
    color: white;
}

.menu-items-right {
    min-width: 300px;
    display: flex;
    align-items: center;
    padding-right: 50px;
    justify-content: right;
}

.logout-btn {
    display: flex;
    align-items: center;
    color: white;
}