@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.movies-overview-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (orientation:portrait) {
    .movies-overview-container {
        flex-direction: column;
        justify-content: start;
    }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Sørger for at elementene fordeles jevnt */
  background-color: #6B2C2C;
  padding: 20px;
}

search-container h1 {
  margin-right: 30px; /* Justerer mellomrommet til høyre for tittelen */
}

.search-container input[type="text"] {
  margin-right: 40px; /* Justerer mellomrommet til høyre for søkefeltet */
}

.search-and-filter {
  display: flex;
  gap: 10px; /* Gir litt mellomrom mellom søkefeltet og filterknappen */
}


.search-container h1 {
  font-size: 50px; /* Eller hvilken som helst annen størrelse */
  color: rgb(250, 249, 249); /* Eller hvilken som helst annen farge */
}

.movies-filter-container{
  display: flex;
  flex-direction: column;
  gap: 1em;

  margin: 1em;

  flex-basis: 20%;
}

.movies-list-container{
  flex-basis: 80%;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;

  font-family: 'Montserrat', sans-serif;

  justify-content: space-evenly;
}

.movie {
  display: flex;
  width: 13em;

  margin-top: 1em;
}

.movie-block {
  position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.movie-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease;
}

.movie-info{
  position: absolute;
  /*visibility: hidden;*/

  bottom: 0;
  left: 0;

  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;

  flex-wrap: wrap;
  /*justify-content: end;*/

  word-break: break-word;

  padding: 0.5em;

  color:  var(--off-white);

  background-color: rgba(0,0,0, 0.7);
  width: 100%;

  min-height: 4em;

}

.movie-info p {
  font-size: 0.8em;
}

.movie-info h2{
  font-size: 1em;

  font-family: 'Montserrat', sans-serif;
}

.movie-block:hover img {
  transition: 0.2s ease;
  filter: blur(5px);

}
